body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}
button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    justify-content: center;
    align-items: center;
    /* margin-left: em; */
    border: 1px  solid black;
    border-radius: 0.2rem;
    box-sizing: border-box;
    background-color: #333;
    box-shadow: 60px 60px 60px inset 60px 60px 60px black ;
}

button:hover{
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    justify-content: center;
    align-items: center;
    /* margin-left: em; */
    border: 1px  solid black;
    border-radius: 0.2rem;
    background-color: #4CAF50;
    box-sizing: border-box;
    box-shadow: 60px 60px 60px inset 60px 60px 60px black ;
    
}


.container {
    overflow: hidden;
    /* margin-left: 20em; */
    display: flex;
    /* background-image: linear-gradient( to top left,#ffafbd, #ffc3a0); */
    background-color: #4CAF50;    
    color: #fff;
    text-align: center;
    /* padding: 20px; */
    border: #333 1rem;
    box-sizing: border-box;
    box-shadow: 60px 60px 60px inset 60px 60px 60px black ;
}
.container h1 {
    overflow: hidden;
    margin-left: 12em;
    display: flex;
    /* background-image: linear-gradient( to top left,#ffafbd, #ffc3a0); */
    background-color: #4CAF50;    
    color: #fff;
    text-align: center;
    padding: 10px;
    border: #333 1rem;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.4); */
}
.MainContainter {
    /* margin-left: 25rem; */
    overflow: hidden;
    display: flex;
    /* background-image: linear-gradient( to top left,#ffafbd, #ffc3a0); */
    background-image: linear-gradient( to top left,#ff5f6d , #ffc371);
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.MainContainer h1{
    /* margin-left: 25rem; */
    overflow: hidden;
    display: flex;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.navbar {
    background-color: rgb(52,52,52);
    padding: 15px;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover {
    color: #4CAF50;
}

main {
    max-width: 800px;
    margin: 4rem auto;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 60px 60px 60px inset 60px 60px 60px black ;
}

.table {
    background-image:linear-gradient(to bottom left,#e88a3d, #f9d87f);
    /* margin-left: 5em; */
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    box-shadow: 60px 60px 60px inset 60px 60px 60px black ;
    margin-top: 20px;
    border: #000;
}

.table, th, td {
    box-sizing: border-box;
 
    border: 3px solid #333;
}
.table{
    box-shadow: 60px 60px 60px inset 100px 100px 100px black ;
}

th, td {
    color: rgba(52,52,52);
    padding: 10px;
    text-align: center;
}

th {
    /* background-color: #4CAF50; */
    color: rgba(52,52,52);
}
a {
    color: inherit;
    text-decoration: none;
}

 a:hover {
    color: blue;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo{ 
    margin-top: 0.2em; 
    border-radius: 20px;
    height: 5em;
    width:  5em;
    border: #333 1rem;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px black;
    
    }